# Use postgres/example user/password credentials

services:

  db:
    image: postgres:16
    restart: always
    ports: 
      - 5433:5432
    environment:
      POSTGRES_USER: 'user'
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: 'shop'
    volumes:
      - ./pgdb:/var/lib/postgresql/data


  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080


  redis:
    image: redis
    restart: always
    ports:
      - 6378:6379
